<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cn.ming.alfred.wangwang</string>
	<key>connections</key>
	<dict>
		<key>7080E508-EA63-402A-8ABD-DC30DCE953A3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>615B908E-43A8-472B-A9DE-98DD2A13B6F9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C6F38C58-8675-45A6-BE9B-F4EE59B07DDA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>14F8F833-AE37-4CF6-8F19-A70B25BDD4E3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F4AB1ABD-DCDF-41C4-9ED2-D201ABF0E90B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7080E508-EA63-402A-8ABD-DC30DCE953A3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>xelz</string>
	<key>description</key>
	<string>查询旺旺好友</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>旺旺</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>帐号已设置为{query}</string>
				<key>title</key>
				<string>设置完毕</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>615B908E-43A8-472B-A9DE-98DD2A13B6F9</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>ww</string>
				<key>runningsubtext</key>
				<string>查询中...</string>
				<key>script</key>
				<string>from wangwang import query

query("{query}")</string>
				<key>subtext</key>
				<string>与指定旺旺好友聊天</string>
				<key>title</key>
				<string>查找旺旺好友</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C6F38C58-8675-45A6-BE9B-F4EE59B07DDA</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>from wangwang import set_account
set_account("{query}")
print "{query}"</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7080E508-EA63-402A-8ABD-DC30DCE953A3</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>setww</string>
				<key>runningsubtext</key>
				<string>正在列出可用帐号</string>
				<key>script</key>
				<string>from wangwang import list_accounts
list_accounts()</string>
				<key>title</key>
				<string>设置旺旺帐号</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F4AB1ABD-DCDF-41C4-9ED2-D201ABF0E90B</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>14F8F833-AE37-4CF6-8F19-A70B25BDD4E3</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>14F8F833-AE37-4CF6-8F19-A70B25BDD4E3</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>615B908E-43A8-472B-A9DE-98DD2A13B6F9</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>7080E508-EA63-402A-8ABD-DC30DCE953A3</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>C6F38C58-8675-45A6-BE9B-F4EE59B07DDA</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>F4AB1ABD-DCDF-41C4-9ED2-D201ABF0E90B</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
